// Bootstrap Overrides
$body-bg: #e5e5e5;
// $primary: orange;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Custom class
.min-max-150 {
  min-width: 180px;
  max-width: 180px;
}

.modal-msg {
  .modal-dialog {
    @extend .modal-dialog-centered;
  }
  .modal-content {
    @extend %modal-corners;
    text-align: center;
  }
  button {
    @extend .shadow-sm;
    @extend %pill-buttons;
    width: 20%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
